$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1270px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 667.98px;

$fontFamily1: "Ubuntu", sans-serif;
$fontFamily2: "SFProDisplay", sans-serif; 